* {
  margin: 0;
  padding: 0;
}
.section-padding {
  padding: 100px 0;
}
.section-connector {
  position: relative;
}
.section-connector::before {
  position: absolute;
  content: "";
  top: -60px;
  right: 50%;
  background: red;
  height: 100px;
  width: 2px;
}
.sec-title {
  max-width: 550px;
  margin: 0 auto 40px auto;
}

.navbar-nav.normal-nav .nav-item .nav-link {
  border-radius: 5px;
  padding: 8px 15px;
  
}
.navbar-nav.normal-nav .nav-item .nav-link:hover,
  .navbar-nav.normal-nav .nav-item .nav-link.active {
  background-color: rgba(231, 14, 14, 0.465);
  color: white;
}

.navbar-nav .nav-item .social {
  display: inline;
  background-color: red;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  color: aliceblue;
  transition: all 0.3s ease;
}
.navbar-nav .nav-item .social:hover {
  background-color: aliceblue;

  color: red;
}

#home {
  background: url(image/hero.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  transition: all 0.3s ease;
}

.navbar.scrolled {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background: #fff;
}

.custom-link i {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.custom-link:hover i {
  transform: translateX(10px);
}
#work .project {
  position: relative;
  overflow: hidden;
}
#work .project .content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
#work .project img,
#work .project .content{
    transition: all 1s ease;
}
#work .project:hover .content{
top: 0;
}
#work .project:hover img{
    transform: translateY(-100%);
}
.client{
  margin-top: -1px;
  margin-right: -1px;
}
.client img{
  height: 30px;
  opacity: .7;
  cursor: pointer;
}
.edu{
  position: relative;
}
.edu::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: rgb(228, 90, 90);
  left: 0;
  top: 0;
}
.edu::after{
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: red;
  left: -7px;
  top: 0;
}
